body{
    color:blueviolet;
    background: white;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 4px pink;
    padding: 20px;
    font-size: 32px;
    color:blueviolet;
}

.chamada{
    background: rgb(171, 219, 244);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(206, 121, 206);
}

.categoria h2{
    color:aqua;
}