body{
    color:blueviolet;
    background: white;
    margin: 0px;
}

header{
    border-bottom: solid 4px pink;
    padding: 20px;
    font-size: 32px;
    color:blueviolet;
}

.chamada{
    background: rgb(171, 219, 244);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}